.nav-img {
    height: 5rem;
}

.post-top {
    margin-top: 5rem;
}

.comment-top {
    margin-top: 1rem;
}

.post-width {
    margin-left: 10rem;
    margin-right: 10rem;
}

.button-center{
    margin-left: 25rem;
}

.navbar-default .navbar-text {
    color: black;
}

.post-img {
    margin: 0 auto;
}

body{
    font-family: 'Cabin', sans-serif;
    background-image: url("/assets/paperbg.jpg")
}
